<div class="row mt-3 mt-md-2 mb-3">
  <div class="col">
    <h1 class="h6 m-0" i18n>Invoicer Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-bar-chart"></i> <span i18n>Offer Overview</span>
        <span class="float-right text-muted">{{ year }}</span>
      </div>
      <table class="table table-sm table-bordered mb-0">
        <tbody>
        <tr>
          <td><a [routerLink]="['/invoicer/offers', year, 'pending']" i18n>Pending</a></td>
          <td class="text-right text-info">{{ offerPending | currency:currencyCode }}</td>
        </tr>
        <tr>
          <td><a [routerLink]="['/invoicer/offers', year, 'approved']" i18n>Approved</a></td>
          <td class="text-right text-success">{{ offerApproved | currency:currencyCode }}</td>
        </tr>
        <tr>
          <td><a [routerLink]="['/invoicer/offers', year, 'canceled']" i18n>Canceled</a></td>
          <td class="text-right text-danger">{{ offerCanceled | currency:currencyCode }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-bar-chart"></i> <span i18n>Invoice Overview</span>
        <span class="float-right text-muted">{{ year }}</span>
      </div>
      <table class="table table-sm table-bordered mb-0">
        <tbody>
        <tr>
          <td><a [routerLink]="['/invoicer/invoices', year, 'open']" i18n>Due</a></td>
          <td class="text-right text-info">{{ invoiceDue | currency:currencyCode }}</td>
        </tr>
        <tr>
          <td><a [routerLink]="['/invoicer/invoices', year, 'paid']" i18n>Paid</a></td>
          <td class="text-right text-success">{{ invoicePaid | currency:currencyCode }}</td>
        </tr>
        <tr>
          <td><a [routerLink]="['/invoicer/invoices', year, 'paid']" i18n>Open Employee Payments</a></td>
          <td class="text-right text-warning">{{ invoiceOpenPaymentToEmployee | currency:currencyCode }}</td>
        </tr>
        <tr>
          <td><a [routerLink]="['/invoicer/invoices', year, 'open']" i18n>Overdue Invoices</a></td>
          <td class="text-right text-danger">{{ invoiceOverdue | currency:currencyCode }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header"><i class="fa fa-history"></i> <span i18n>Recent Offers</span></div>
      <table class="table table-sm table-striped table-responsive-sm mb-0">
        <thead>
        <tr>
          <th scope="col" i18n>Status</th>
          <th scope="col" i18n>Date</th>
          <th scope="col" i18n>Offer</th>
          <th scope="col" i18n>Name</th>
          <th scope="col" class="text-right" i18n>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let offer of offers">
          <td [ngSwitch]="offer.status">
            <span class="badge badge-info" *ngSwitchCase="0" i18n>Pending</span>
            <span class="badge badge-success" *ngSwitchCase="1" i18n>Approved</span>
            <span class="badge badge-danger" *ngSwitchCase="2" i18n>Canceled</span>
          </td>
          <td>{{ offer.date | date }}</td>
          <td><a [routerLink]="['/invoicer/project', offer.id]">{{ offer.number }}</a></td>
          <td><a [routerLink]="['/invoicer/project', offer.id]">{{ offer.name }}</a></td>
          <td class="text-right">{{ offer.net | currency:currencyCode }}</td>
        </tr>
        <tr>
          <td colspan="6" class="text-right">
            <small><a [routerLink]="['/invoicer/offers', year]" i18n>View All</a></small>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header"><i class="fa fa-history"></i> <span i18n>Recent Invoices</span></div>
      <table class="table table-sm table-striped table-responsive-sm mb-0">
        <thead>
        <tr>
          <th scope="col" i18n>Status</th>
          <th scope="col" i18n>Due Date</th>
          <th scope="col" i18n>Invoice</th>
          <th scope="col" i18n>Name</th>
          <th scope="col" class="text-right" i18n>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let invoice of invoices">
          <td [ngSwitch]="invoice.status">
            <span class="badge badge-info" *ngSwitchCase="0" i18n>Open</span>
            <span class="badge badge-success" *ngSwitchCase="1" i18n>Paid</span>
            <span class="badge badge-warning" *ngSwitchCase="2" i18n>Paid</span>
            <span class="badge badge-danger" *ngSwitchCase="3" i18n>Overdue</span>
          </td>
          <td>{{ invoice.date | dueDate | date }}</td>
          <td><a [routerLink]="['/invoicer/project', invoice.id]">{{ invoice.number }}</a></td>
          <td><a [routerLink]="['/invoicer/project', invoice.id]">{{ invoice.name }}</a></td>
          <td class="text-right">{{ invoice.net | currency:currencyCode }}</td>
        </tr>
        <tr>
          <td colspan="6" class="text-right">
            <small><a [routerLink]="['/invoicer/invoices', year]" i18n>View All</a></small>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
