<table class="table table-sm table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" i18n>Name</th>
    <th scope="col" i18n>Manager</th>
    <th scope="col" i18n>Number</th>
    <th scope="col" i18n>Date</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col" class="text-right" i18n>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects; index as i;">
    <td scope="row">{{ i + 1 }}</td>
    <td><a [routerLink]="['../..', 'project' ,project.event.name]">{{ project.event.name }}</a></td>
    <td>{{ project.event.manager }}</td>
    <td>{{ project.invoice.number }}</td>
    <td>{{ project.event.date }}</td>
    <td>
      <ascii-fa-bool [bool]="project.checks.ready_for_offer" [colorized]="true"></ascii-fa-bool>
    </td>
    <td>
      <ascii-fa-bool [bool]="project.checks.ready_for_invoice" [colorized]="true"></ascii-fa-bool>
    </td>
    <td>
      <ascii-payed
        [status]="getPayedStatus(project.checks.payed_by_customer, project.checks.payed_employees)"></ascii-payed>
    <td>
      <ascii-fa-bool [bool]="project.checks.ready_for_archive" [colorized]="true"></ascii-fa-bool>
    </td>
    <td class="text-right">{{ project.invoice.net_total }}</td>
  </tr>
  </tbody>
</table>
