<div *ngIf="project">
  <div class="row mt-3 mt-md-2 mb-3">
    <div class="col-md-5">
      <h1 class="h6 m-0 text-truncate">{{ project.name }}
        <small class="text-muted">{{ project.date | date }}</small>
      </h1>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-4">
          <p class="m-0 text-truncate"><b i18n>Manager</b> {{ project.manager }}</p>
        </div>
        <div class="col-md-3">
          <p class="m-0 text-truncate"><b i18n>Total</b> {{ invoice.net | currency:currencyCode }}</p>
        </div>
        <div class="col-md-2">
          <ul class="list-inline m-0">
            <li class="list-inline-item">
              <asciii-fa-bool [bool]="project.readyForOffer" [colorized]="true"></asciii-fa-bool>
            </li>
            <li class="list-inline-item">
              <asciii-fa-bool [bool]="project.readyForInvoice" [colorized]="true"></asciii-fa-bool>
            </li>
            <li class="list-inline-item">
              <i class="fa fa-check text-success" *ngIf="project.paidByCustomer && project.paidEmployees"></i>
              <i class="fa fa-eur text-warning" *ngIf="(project.paidByCustomer && !project.paidEmployees)
              || !project.paidByCustomer && project.paidEmployees"></i>
              <i class="fa fa-times text-danger" *ngIf="!project.paidByCustomer && !project.paidEmployees"></i>
            </li>
            <li class="list-inline-item">
              <asciii-fa-bool [bool]="project.canceled" [colorized]="true"></asciii-fa-bool>
            </li>
          </ul>
        </div>
        <!--<div class="col-md-3 text-right">
          <a href="javascript:;" (click)="goBack()" i18n>Back</a>
        </div>-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-columns">
        <div class="card border-success mb-3">
          <div class="card-header bg-success text-white">
            <h2 class="h4 card-title" i18n>Client</h2>
            <h3 class="h6 card-subtitle">{{ client.name }}</h3>
          </div>
          <div class="card-body">
            <dl class="row">
              <dt class="col-md-3" i18n>Name</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ client.name }}</dd>
              <dt class="col-md-3" i18n>Email</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ client.email }}</dd>
              <dt class="col-md-3" i18n>Address</dt>
              <dd class="col-md-9 m-0 text-truncate" style="white-space: pre-wrap;">{{ client.address }}</dd>
            </dl>
          </div>
        </div>
        <div class="card border-info mb-3">
          <div class="card-header bg-info text-white">
            <h2 class="h4 card-title" i18n>Event</h2>
            <h3 class="h6 card-subtitle">{{ project.name }}</h3>
          </div>
          <div class="card-body">
            <dl class="row">
              <dt class="col-md-3" i18n>Name</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ project.name }}</dd>
              <dt class="col-md-3" i18n>Date</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ project.date | date}}</dd>
              <dt class="col-md-3" i18n>Manager</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ project.manager }}</dd>
            </dl>
          </div>
        </div>
        <div class="card border-secondary mb-3" *ngIf="service.time > 0">
          <div class="card-header bg-secondary text-white">
            <h2 class="h4 card-title" i18n>Service</h2>
            <h3 class="h6 card-subtitle">{{ service.net | currency:currencyCode }}</h3>
          </div>
          <div class="card-body">
            <dl class="row">
              <dt class="col-md-3" i18n>Time</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ service.time }}h</dd>
              <dt class="col-md-3" i18n>Tax</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ service.tax }}</dd>
              <dt class="col-md-3" i18n>Salary</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ service.salary | currency:currencyCode }}</dd>
              <dt class="col-md-3" i18n>Gross</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ service.gross | currency:currencyCode }}</dd>
              <dt class="col-md-3" i18n>Net</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ service.net | currency:currencyCode }}</dd>
            </dl>
            <table class="table table-sm table-striped">
              <thead>
              <tr>
                <th scope="col" i18n>Name</th>
                <th scope="col" i18n>Salary</th>
                <th scope="col" i18n>Time</th>
                <th scope="col" i18n>Wage</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let employee of employees; let even = even;" [ngClass]="{ 'table-secondary': even }">
                <td>{{ employee.name }}</td>
                <td>{{ employee.salary | currency:currencyCode }}</td>
                <td>{{ employee.time }}h</td>
                <td>{{ employee.wage | currency:currencyCode }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card border-warning mb-3">
          <div class="card-header bg-warning text-white">
            <h2 class="h4 card-title" i18n>Offer</h2>
            <h3 class="h6 card-subtitle">{{ offer.number }}</h3>
          </div>
          <div class="card-body">
            <dl class="row">
              <dt class="col-md-3" i18n>Date</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ offer.date | date }}</dd>
              <dt class="col-md-3" i18n>Number</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ offer.number }}</dd>
              <dt class="col-md-3" i18n>Net</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ offer.net | currency:currencyCode }}</dd>
              <dt class="col-md-3" i18n>Gross</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ offer.gross | currency:currencyCode }}</dd>
            </dl>
            <table class="table table-sm table-striped">
              <thead>
              <tr>
                <th scope="col" i18n>Gross</th>
                <th scope="col" i18n>Taxed</th>
                <th scope="col" i18n>Tax Sum</th>
                <th scope="col" i18n>Tax</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of offerItems; let even = even" [ngClass]="{ 'table-warning': even }">
                <td>{{ item.gross | currency:currencyCode }}</td>
                <td>
                  <asciii-fa-bool [bool]="item.taxed" [centered]="true"></asciii-fa-bool>
                </td>
                <td>{{ item.taxTotal | currency:currencyCode }}</td>
                <td>{{ item.tax }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card border-danger mb-3" *ngIf="invoice.date">
          <div class="card-header bg-danger text-white">
            <h2 class="h4 card-title" i18n>Invoice</h2>
            <h3 class="h6 card-subtitle">{{ invoice.number }}</h3>
          </div>
          <div class="card-body">
            <dl class="row">
              <dt class="col-md-3" i18n>Date</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ invoice.date | date }}</dd>
              <dt class="col-md-3" i18n>Due Date</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ invoice.date | dueDate | date}}</dd>
              <dt class="col-md-3" i18n>Number</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ invoice.number }}</dd>
              <dt class="col-md-3" i18n>Gross</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ invoice.gross | currency:currencyCode }}</dd>
              <dt class="col-md-3" i18n>Net</dt>
              <dd class="col-md-9 m-0 text-truncate">{{ invoice.net | currency:currencyCode }}</dd>
            </dl>
            <table class="table table-sm table-striped">
              <thead>
              <tr>
                <th scope="col" i18n>Gross</th>
                <th scope="col" i18n>Taxed</th>
                <th scope="col" i18n>Tax Sum</th>
                <th scope="col" i18n>Tax</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of invoiceItems; let even = even" [ngClass]="{ 'table-danger': even }">
                <td>{{ item.gross | currency:currencyCode }}</td>
                <td>
                  <asciii-fa-bool [bool]="item.taxed" [centered]="true"></asciii-fa-bool>
                </td>
                <td>{{ item.taxTotal | currency:currencyCode }}</td>
                <td>{{ item.tax }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card border-dark mb-3">
          <div class="card-header bg-dark text-white">
            <h2 class="h4 card-title" i18n>Bill</h2>
            <h3 class="h6 card-subtitle">&nbsp;</h3>
          </div>
          <div class="card-body">
            <dl class="row">
              <dt class="col-md-3" i18n>Offered
                <small class="text-muted">{{ offered.length }}</small>
              </dt>
              <dd class="col-md-9 m-0">{{ offered | join }}</dd>
              <dt class="col-md-3" *ngIf="invoice.date" i18n>Invoiced
                <small class="text-muted">{{ invoiced.length }}</small>
              </dt>
              <dd class="col-md-9 m-0" *ngIf="invoice.date">{{ invoiced | join }}</dd>
            </dl>
            <h3 class="h6 text-muted" i18n>Offered</h3>
            <table class="table table-sm table-striped">
              <thead>
              <tr>
                <th scope="col" i18n>Name</th>
                <th scope="col" i18n>Price</th>
                <th scope="col" i18n>Amount</th>
                <th scope="col" i18n>Cost</th>
                <th scope="col" i18n>Tax</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let offer of offered">
                <td>{{ offer.name }}</td>
                <td>{{ offer.price | currency:currencyCode }}</td>
                <td>{{ offer.amount }}{{ offer.unit }}</td>
                <td>{{ offer.cost | currency:currencyCode }}</td>
                <td>{{ offer.tax }}</td>
              </tr>
              </tbody>
            </table>
            <h3 class="h6 text-muted" *ngIf="invoice.date" i18n>Invoiced</h3>
            <table class="table table-sm table-striped" *ngIf="invoice.date">
              <thead>
              <tr>
                <th scope="col" i18n>Name</th>
                <th scope="col" i18n>Price</th>
                <th scope="col" i18n>Amount</th>
                <th scope="col" i18n>Cost</th>
                <th scope="col" i18n>Tax</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let invoice of invoiced">
                <td>{{ invoice.name }}</td>
                <td>{{ invoice.price | currency:currencyCode }}</td>
                <td>{{ invoice.amount }}{{ invoice.unit }}</td>
                <td>{{ invoice.cost | currency:currencyCode }}</td>
                <td>{{ invoice.tax }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
