// Sizing

@each $size, $length in $sizes {
  .mw-#{$size} {
    max-width: $length;
  }

  .w-#{$size} {
    width: $length;
  }
}

@each $size, $length in $sizes {
  .width-fix-#{$size} {
    width: $length;
  }
}
