// Variables

$gray-100: #f8f9fa !default;
$gray-900: #212529 !default;

$blue: #007bff !default;

$sizes: (
   20:  20px,
   30:  30px,
   60:  60px,
   70:  70px,
   75:  75px,
   80:  80px,
   90:  90px,
  100: 100px,
  110: 110px,
  150: 150px,
  185: 185px,
  200: 200px,
  300: 300px
) !default;
