
@import './scss/theme';
@import './scss/sizing';
@import './scss/invoicer-sidebar';

body {
  font-size: 0.875rem;
  //background-color: $gray-100;
}

.card {
  .table th {
    border-top: none;
  }

  .table-bordered {
    border: 0;
  }
}

.table {
  .badge {
    font-weight: normal;
    padding: 5px 10px;
    display: block;
    width: 100%;
  }
}
